$small_text: 13px;
$medium_text: 15px;
$regular_text: 16px;

body {
    width: 1000px;
    margin: 0 auto;
}

#upper_line {
    border: none;
    height: 3px;
    color: black;
    background-color: black;
}

#middle_line {
    border: none;
    height: 1px;
    color: grey;
    background-color: grey;
}

.column1 {
    grid-area: col1;
}

.col2_1 {
    grid-area: col2_1;
}

.col2_2 {
    grid-area: col2_2;
}

.column3 {
    grid-area: col3;
}

.grid-container {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "col1 col2_1 col3"
      "col1 col2_2 col3";
}

.column1 {
    font-size: $small_text;
    font-weight: bold;

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    form {
        margin-top: 5px;
    }
}

.regular {
    font-size: $regular_text;
    padding-top: 10px;
}

.col2_1 img {
    width: 100%;
    height: 100%;
    display: block;
}

.col2_2 {
    font-size: $small_text;
    display: flex;

    p {
        margin: 0;
    }

    #gab {
        margin-top: 3px;
    }

    div {
        margin: 5px;
    }
}

.column3 {
    margin-left: 5px;

    .regular_red {
        font-weight: bold;
        color: red;
        margin: 0;
    }

    .small_grey {
        font-size: $small_text;
        font-weight: bold;
        color: #a8a7a8;
        margin: 0;
    }
}

#seen {
    font-weight: bold;
    display: inline;
    font-size: $medium_text;
}

.seen_logo {
    max-width: 100px;
    max-height: 50px;
}

.list {
  list-style-position: inside;
  padding-left: 0;
}

#bottom_text {
    font-weight: bold;
    font-size: $small_text;
    display: inline;
}

h3 {
    color: #7e0000;
}
